.SeatItem {
  position: relative;
  margin: 10px;
  cursor: pointer;
  &.booked{
    pointer-events: none;
    img{
      filter: invert(38%) sepia(7%) saturate(4550%) hue-rotate(314deg) brightness(103%) contrast(77%);
    }
    span{
      color: white;
    }
  }
  &.clicked img{
    filter: invert(32%) sepia(71%) saturate(425%) hue-rotate(79deg) brightness(91%) contrast(93%);
  }
  .number{
    position: absolute;
    color: black;
    top: 16px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 11px;
  }
}